body>header>h1{
    background-color: dodgerblue;
    color: white;
    margin: 0px;
    padding: 20px;
}

body>header>ul {
    margin: 0;
    padding: 2px;
    background-color:dodgerblue;
    text-align: right;
  }
  
body>header>ul>li {
    color: white;
    text-align: right;
    padding: 6px;
  }
  

body>header>ul>li a:hover {
    background-color:navy;
}

body>section{
        width: 200px; 
        height: 200px;
        padding: 10px;
}  

#popup {
    float: right;
    width: 700px;
    left: 200px
}

#surf{
    position: fixed;
    bottom: 0;
    right: 300px;
    width: 300px;
}
main{
    text-align: left;
    width: 500px;
}

